body {
    background-color: beige;
    text-align: center;
    margin: 0;
    padding: 0;
}

div  {
    margin: auto;
}

h2 {
    color: purple;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1%;
    font-size: 37px;
}

label {
    color: purple;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    padding: 1%;
}

#button {
    margin: auto;
    width: 55%;
    background-color: rgb(201, 115, 201);
    margin-top: 20px;
}

#formulario {
    display: flex;
    flex-direction: column;
    width: 66%;
    padding: 4%;
}

div2 {
    width: 60%;
}

#footerformulario {
    bottom: 0px;
    margin-bottom: -5px;
    
}
