body {
    background-color: beige;

}

h1, h5 {
    color: purple;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: purple;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#section1 {
    display: flex;
}

.sec1 {
    margin: 10px;
    background-color: white;
    width: 30%;
}

.img1 {
    width: 300px;
    margin:20px;
}

