body {
    background-color: beige;

}

/*Texto Principal Página Inicial*/
h1, h5 {
    color: purple;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Promoçao Principal*/
h2 {
    color: purple;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div {
    display: flex;
}

#fotopromoprincipal {
    width: 30%;
}

#promoprincipal {

}

#textopromoprincipal {
    margin: 10px;
    text-align: justify;
}