body {
    text-align: center;
}

footer {
  margin: 0%;
  background-color: purple;
  font-family: Georgia, 'Times New Roman', Times, serif
  position: fixed;
  width: 100%;
  color: beige;
  padding: 0%;
  bottom: 0%;
  margin-left: 0%;

}