<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./header.css">
</head>
<!--Grupo esta perfeitamente em equilibrio-->
<body>
    <!--header feito pelo nickolas-->
    <header>
        <div class="container">
            <div class="logo">
            <a class="link" href="../index.html"></a>
            <a href="../index.html">
          <img src="../assets/css/4787289.png" width="50px">
         </a>
        </div>
       
        <nav>
             <ul>
                <li><a href="../index.html" target="_parent">Inicio</a></li>
                <li><a href="../pages/feedback.html" target="_parent">Feedback</a></li> 
            </ul>
        </nav>
    </header>
    <!--professores incriveis-->
</body>
</html>